
.App {
  padding: 0 20px;
  text-align: center;

}
body {
  background: #98CB3F;
}
.pageHeader {
  text-align: center;
}
.siteLabel {
  font-size: 20px;
  text-decoration: none;
  
}
Link {
  cursor: pointer;
}
.teamsList {
list-style: none;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

.teamContainer {
  width: 200px;
  height: 200px;
margin: 30px;
position: relative;
}

#addTeamsButton {
  padding: 5px;
  background: whitesmoke;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  width: 200px;
  height: 50px;
  box-shadow:5px 0px 5px lightgrey;
  border-radius: 6px;
}